

.card{
    
    height: 290px;
    width: 190px;
    background-color: rgb(28, 7, 7);
    border: 2px solid black;
    color: white;
    text-align: center;

}

button{
    background-color: green;
    width: 100px;
    padding: 0.5em;
    color: white;
}
.container{
    background-color: aqua;
    width: 80%;
   
    margin: 0 auto;
}